h1 {color: orange;
font-family: Helvetica;
}

blockquote {
    width: 300px;
    border: 15px solid grey;
    background-color: white;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    padding: 25px;
    margin: 25px;
    width: 15%;
    display: inline-block;
    vertical-align: top;
    font-family: Helvetica
}